@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap");

body {
  margin: 0 auto;
  background-color: #f0fff0;
}
div.box {
  background-color: black;

  text-align: center;
  max-width: 404px;
  min-height: 490px;
  padding: 10px;
  margin: 0 auto;
}
.welcome {
  font-weight: 600;
  text-align: center;
  font-size: 29px;
  color: #ffff;
  line-height: 35px;
  letter-spacing: 5px;
}
.btn {
  text-decoration: none;
  width: 302px;
  height: 50px;
  font-size: 29px;
  border: 4px solid #ffff;
  color: #ffff;
  margin: 0 auto;
  font-weight: 800;
}
