.header {
  text-align: center;
  margin: 20px;
}
.str {
  font-family: M PLUS 1;
  font-size: 48px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 3px;
  color: #3e45e8;
}
.ukr {
  font-family: Marcellus;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 3px;
  color: #e8c23e;
}
.banner {
  background-image: url(./fon.png);
  width: 100%;
  min-width: 400px;
  background-position: 60%;
  height: 760px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
}
.prapor {
  width: 23px;
  padding: 120px 80px 5px;
}
.b-text {
  width: 650px;
  font-size: 38px;
  padding: 2px 60px 10px;
  color: white;
}
.gradient {
  background: linear-gradient(180deg, #00e0ff 0%, #1400ff 100%), #FFA800 0%, rgba(255, 245, 0, 0) 100%);

}
.border {
  width: 350px;
  height: 450px;
  border-radius: 30px;
  display: inline-block;
  border: 3px solid #0d095f;
}
.image {
  width: 350px;
  height: 300px;
}
.title {
  margin-top: 20px;
  font-family: Inika;
  font-size: 24px;
  color: #0072db;
}
.sub {
  font-size: 20px;
  color: #ff9900;
}
.linie {
  width: 35%;
  border-bottom: 7px solid #1400ff;
}
.footer {
  background: linear-gradient(180deg, #013235 0%, #0d0661 100%);
}
.card .btn{
  top: 83%;
  right: -7%;
  background-color:#EF075B;
  color: white;
  width: 200px;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
}