body {
  margin: 0 auto;
  background-color: #f0fff0;
}
div.box {
  background-color: black;

  text-align: center;
  max-width: 404px;
  min-height: 490px;
  padding: 10px;
  margin: 0 auto;
}
.title {
  padding: 15px;
}
.one {
  width: 302px;
  height: 50px;
  font-size: 10px;
  border: 4px solid #ffff;
  color: #ffff;
  margin: 0 auto;
}
.two {
  width: 302px;
  height: 50px;
  font-size: 10px;
  border: 4px solid #ffff;
  color: #ffff;
  margin: 0 auto;
}
