@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500&display=swap");
.body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  background-color: #e5e5e5;
}
.header {
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 1500px;
}

.container > .container-content1 {
  width: 40%;
}
.container > .container-content2 {
  width: 50%;
}
.container-content1 > .content1 {
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  padding-left: 28px;
}
.title {
  font-weight: 700;
  font-size: 24px;
  color: #171717;
  padding-left: 28px;
  padding-top: 14px;
}

.title-text {
  font-weight: 400;
  font-size: 14px;
  color: #171717;
  padding-left: 28px;
}
.subtitle {
  font-family: "Public Sans", serif;
  font-weight: 500;
  font-size: 20px;
  color: #171717;
  padding-left: 28px;
}

.text {
  font-weight: 500;
  font-size: 16px;
  color: #171717;
}

.line {
  width: 98%;
  border: 1px solid #d1d1d1;
  margin-left: 43px;
}
.button {
  width: 50px;
  height: 32px;
  border: 1px solid #0050d8;
  background-color: #0050d8;
  color: #ffffff;
  border-radius: 4px;
  margin-top: 18px;
  margin-left: 1072px;
}
.tick {
  padding-top: 75px;
  padding-bottom: 28px;
}
.search {
  position: relative;
}
.search-svg {
  position: absolute;
  bottom: 8px;
  left: 320px;
}
.text-tick {
  position: relative;
}
.tick-svg {
  position: absolute;
  bottom: 12px;
  left: 320px;
}

#text {
  width: 350px;
  height: 30px;
}
#date {
  width: 350px;
  height: 30px;
}
#tel {
  width: 350px;
  height: 30px;
}
#id {
  width: 350px;
  height: 30px;
}
#select {
  width: 350px;
  height: 30px;
}
#email {
  width: 350px;
  height: 30px;
}
#number {
  width: 350px;
  height: 30px;
}
#search {
  width: 350px;
  height: 34px;
}

/* This css is for normalizing styles. You can skip this. */

.new {
  padding: 50px;
}
.form-group {
  display: block;
  margin-bottom: 15px;
}
.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.form-group label {
  position: relative;
  cursor: pointer;
}
.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: #ff00ff;
  border: 2px solid #ff00ff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}
.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid white;

  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
