@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  font-size: 20px;
  --color-title-card: #353c57;
}
body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: "Roboto", serif;
  background-color: ;
  font-weight: 400;
}

.header-top {
  background-color: #243b93;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  box-sizing: border-box;
}
.logo {
  display: flex;
  align-items: center;
}
.header-top__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 65%;
  text-align: center;
}
.header-top__nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
.title {
  background-color: #bff0ff;
}
.title h2 {
  margin: 0;
  font-size: 2.4rem;
  font-style: italic;
  padding: 1rem 0;
}
.list {
  background-color: #ffffff;
  padding: 0.5rem;
  margin: 2rem;
  text-align: center;
  font-size: 1.4rem;
}
.card {
  background: linear-gradient(92.95deg, #adcbd5 0%, #00aee6 100%);
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 0;
  position: relative;
  margin-bottom: 1.5rem;
  transition: all 1s;
}

.card > .card-img {
  width: 30%;
}
.card-img > img {
  width: 100%;
  min-height: 100%;
}

.card > .card-description {
  width: 50%;
}
.card-description__title {
  font-weight: 700;
  font-style: italic;
  font-size: 1.8rem;
  border-bottom: 3px solid #edfbff;
  color: var(--color-title-card);
}

.card .card-description__content {
  background-color: #edfbff;
  padding: 1.2rem;
  box-sizing: border-box;
  text-align: left;
  margin-top: 0.3rem;
}
.card .btn {
  display: inline-block;
  text-align: center;
  bottom: 10px;
  right: -55px;
  width: 200px;
  background-color: #243b93;
  color: white;
  position: absolute;
  padding: 0.5rem 0;
  border-radius: 30px;
  text-decoration: none;
}

.card .star,
.card .btn {
  position: absolute;
}
.card .star {
  top: 10px;
  right: 10px;
}
/**/
.card:hover {
  background: #2cbdeb;
}
.card:hover .star path {
  fill: yellow;
}
.card:hover .btn {
  background-color: #ef075b;
}
.arrow {
  text-align: right;
  right: 6%;
  bottom: -720px;
  position: absolute;
  padding: 0.7rem 0;
}
