@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Padauk:wght@400;700&display=swap");

.body {
  margin: 0;
  font-family: "Padauk", sans-serif;
}
.box {
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 1000px;
  background: #001124;
}
.container > .container-img {
  width: 40%;
}
.container > .container-content {
  width: 50%;
}
.container-img > .img {
  width: 100%;
}

.container {
  display: flex;
  padding-top: 150px;
  padding-left: 90px;
}
.container-img {
  margin-top: 100px;
}
.container-content {
  padding-left: 140px;
  padding-top: 24px;
}
.content-title {
  font-family: "DM Serif Display" serif;
  font-weight: 400;
  font-size: 45px;
  color: #ffff;
  padding-bottom: 32px;
}
.content-subtitle {
  font-family: "Padauk", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffff;
}
.text {
  width: 300px;
}
.button {
  width: 160px;
  height: 42px;
  border-radius: 5px;
  border: 1px solid #015fc7;
  background-color: #015fc7;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  margin-left: 68px;
  margin-bottom: 60px;
  margin-top: 25px;
}
#name {
  width: 325px;
  height: 30px;
}
#text {
  width: 325px;
  height: 30px;
}
#email {
  width: 325px;
  height: 30px;
}
#tel {
  width: 325px;
  height: 30px;
}
#pass {
  width: 325px;
  height: 30px;
}
#date {
  width: 325px;
  height: 30px;
}
