@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Padauk&family=Public+Sans:wght@400;500;700&display=swap");

.body {
  margin: 0;
  font-family: "Padauk", sans-serif;
}

.box {
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 1000px;
  background: #001124;
}
.container > .container-img {
  width: 50%;
}
.container > .container-content {
  width: 40%;
}
.container-img > .img {
  width: 100%;
}
.container {
  display: flex;
  padding-top: 150px;
}
.container-content {
  padding-top: 52px;
  padding-left: 90px;
}
.content-title {
  color: #ffff;
  font-weight: 400;
  font-size: 45px;
  text-decoration: none;
}
.content-subtitle {
  color: #ffff;
  font-weight: 400;
  font-size: 20px;
  padding-top: 12px;
}
#email {
  width: 250px;
  height: 25px;
}
#pass {
  width: 250px;
  height: 25px;
}
.link {
  font-family: "Padauk", serif;
  font-weight: 400;
  font-size: 20px;
  color: #499ffe;
}
.none-decoration-text {
  text-decoration: none;
}
.text {
  font-family: "Padauk", serif;
  font-weight: 400;
  font-size: 20px;
}
.text-one {
  color: #ffffff;
}

.text-two {
  text-decoration: none;
  color: #499ffe;
  padding-top: 12px;
}
.button {
  width: 180px;
  height: 42px;
  border: 1px solid #015fc7;
  background-color: #015fc7;
  color: #ffffff;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}
