@keyframes img-left {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes img-right {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes circle-1 {
  from {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 50%;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
  to {
    top: 0;
    left: 0;
  }
}
@keyframes circle-2 {
  from {
    top: 50%;
    left: 0;
  }
  25% {
    top: 0;
    left: 0;
  }
  50% {
    top: 0;
    left: 0;
  }
  75% {
    top: 0;
    left: 50%;
  }
  to {
    top: 50%;
    left: 50%;
  }
}
@keyframes circle-3 {
  from {
    top: 50%;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 0;
    left: 0;
  }
  75% {
    top: 0;
    left: 0;
  }
  to {
    top: 0;
    left: 50%;
  }
}
@keyframes circle-4 {
  from {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 50%;
  }
  50% {
    top: 50%;
    left: 0;
  }
  75% {
    top: 0;
    left: 0;
  }
  to {
    top: 0;
    left: 0;
  }
}
