@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&family=Volkhov&display=swap");
.body {
  margin: 0;
}
div.screen {
  min-height: 90vh;
  border: 1px solid black;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  margin: 0;
  top: 0;
  background-color: black;
  height: 17vh;
  width: 98vw;
 
  position: fixed;
  z-index: 5;
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  list-style: none;
}
.nav {
  font-family: "Rosario", serif;
  font-weight: 700;
  font-size: 36px;
  font-style: italic;
  color: #fffcfc;
}
/* screen-1 */
.container{
  display: flex;
  height: 90vh;
  justify-content: space-between;
  margin-top: 170px;

}
.container > div{
  width: 23%;
}


.left-one > img{
height: 60%;
margin-left: 70px;
margin-top: 30px;
 transform: translateX(100vw);
animation: img-right 2s linear forwards;
}
.right-one > img{
  height: 60%;
  margin-top: 30px;
 transform: translateX(100vw);
  animation: img-left 2s linear forwards;
  }

.left-two,
.right-two{
  display: flex;
  flex-direction: column;
}
.left-two > img:first-child{
  height: 38%;
  margin-bottom: 20px;
  transform: translateX(100vw);
animation: img-right 1s linear forwards;
}
.left-two > img:last-child{
  height: 38%;
   transform: translateX(100vw);
animation: img-right 1s linear forwards;
}
.right-two > img:first-child{
  height: 38%;
  margin-bottom: 20px;
   transform: translateX(100vw);
  animation: img-left 1s linear forwards;
}
.right-two > img:last-child{
  height: 38%;
   transform: translateX(100vw);
  animation: img-left 1s linear forwards;
}
/* screen-2 */
.services{
  display: flex;
}
.services .left{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
}
.services .left > div{
  height: 50%;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.servicer .right{
  width: 40%;
}
  .box-img{
  height: 100%;
  width: 100%;
}
.circle{
  width: 220px;
  height: 220px;
}
.circle + .text{
  text-align: center;
}
.text{
  font-family: "Rosario", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 32px;
  color: #000000;
}
.left-one{
  top: 0;
  left: 0;
  animation: circle-1 5s linear infinite ;
}
.left-two{
top: 0;
left: 50%;
animation:circle-2 5s linear infinite ;
}
.left-three{
  top: 50%;
  left: 0;
  animation:circle-3 5s linear infinite ;
}
.left-four{
 top: 50%; 
 left: 50%;
 animation:circle-4 5s linear infinite ;
}
/* screen-3 */
.title{
  font-family: "Rosario", serif;
  font-weight: 700;
  font-size: 96px;
  text-align: center;
  color: #000000;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px  0px ;
  
}









 .team{
  display: flex;
  justify-content: space-evenly;
  height: 75vh;
  margin-bottom: 25px;
  
}
.team > span{
 width: 22%;
 border-radius: 40px; 
 position: relative;
}
.team:hover > span{
  filter: brightness(0.5);
}
.team > span:hover{
  filter: none;
}
.photo{
  width: 300px;
  height: 500px;
}
.team .name {
  position: absolute;
  background: #a3530ab2;
  width: 300px;
  height: 0;
  top: 343px;
  border-radius: 30px;
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-size: 48px;
  color: #fffafa;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.team > span:hover .name {
  height: 118px;
}


.footer {
  display: flex;
  align-items: center;
  min-height: 200vh;
  position: relative;
}

.footer-title {
  position: absolute;
  top: 160px;
  left: 60px;
  width: 50%;
  font-family:"Rosario" , serif;
  font-weight: 700;
  font-style: italic;
  font-size: 61px;
  text-align: center;
  color: black;
}

.footer-form {
  position: relative;
  width: 650px;
  min-height: 250px;
  bottom: 180px;
  padding: 30px 30px 30px 30px;
  left: 90px;
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
}

#name {
  width: 210px;
  height: 34px;
  font-family: "Rosario", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #00000080;
  border: 1px solid #fff;
  margin: 20px 20px;
  padding: 10px 10px 10px 20px;
}
#mail {
  width: 262px;
  height: 34px;
  margin: 20px 20px 20px 20px;
  font-family: "Rosario", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #00000080;
  border: 1px solid #fff;
  padding: 10px 10px 10px 40px;
}

#msg {
  width: 575px;
  height: 150px;
  margin: 20px 20px 20px 20px;
  font-family: "Rosario", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #00000080;
  border: 1px solid #fff;
  padding-left: 20px;
  padding-top: 10px;
}
.footer-map {
  position: absolute;
  top: 252px;
  right: 60px;
}

.footer-contact-text {
  display: flex;
  justify-content: space-between;
  font-family: "Rosario", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #000000;
  position: absolute;
  bottom: 250px;
  left: 60px;
}
.footer-contact {
  width: 310px;
  margin-left: 10px;
  text-decoration: none;
  list-style: none;
}

.email,
.phone,
.adress {
  font-family: "Rosario", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}

.phone a,
.adress a {
  text-decoration: none;
  width: 70px;
}
.footer-time {
  width: 500px;
  text-align: center;
  margin-left: 90px;
}
.footer_time-subtitle {
  width: 564px;
  font-style: italic;
}
.social_networks-title {
  margin-left: 60px;
}
.social-link {
  list-style: none;
  margin-bottom: 20px;
  margin-left: 80px;
  color: #000000;
}
.social {
  text-decoration: none;
  font-style: italic;
  color: #000000;
}































/* .team .name{
  position: absolute;
  bottom: 26px;
   width: 299px;
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
   border-radius: 28px;
  font-family: "Volkhov", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #fffafa;
  padding-top: 33px;
} */
/* .name:hover{
  background: #A3530AB2;
} */








/* 
 .left-one,
.right-one {
  height: 25%;
  align-self: center;
  margin-top: 130px;
}

.left-one {
  transform: translateX(100vw);
  animation: img-right 2s linear forwards;
}
.right-one {
  transform: translateX(100vw);
  animation: img-left 2s linear forwards;
}
.left-two {
  height: 40%;
  transform: translateX(-100vw);
  animation: img-right 1s linear forwards;
}
.right-two {
  height: 40%;
  transform: translateX(-100vw);
  animation: img-left 1s linear forwards;
}
.left-two,
.right-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
}
.left-two > img:first-child {
  height: 40%;
  margin-bottom: 20px;
}
.left-two > img:last-child {
  height: 40%;
}
.right-two > img:first-child {
  height: 40%;
  margin-bottom: 20px;
}
.right-two > img:last-child {
  height: 40%;
} */ */
