@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;700&display=swap");
body {
  background-color: #212529;
  margin: 0;
}
.header {
  width: 100%;
  height: 100%;
}
.header-top {
  display: flex;
  justify-content: space-between;
  padding: 1.7rem;
}
.header-nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.item-nav {
  color: white;
  text-decoration: none;
}
.button {
  display: flex;
  width: 103px;
  height: 47px;
  padding-left: 31px;
  margin: 0px 34px;
  text-decoration: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  background-color: #ffb742;
  border: 2px solid #ffb742;
  border-radius: 50px;
}
.item-nav:hover {
  background-color: #ffb742;
}
.main {
  width: 100%;
  height: 100%;
  margin-bottom: 150px;
}
.main-box-1 {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}
.main-text-white {
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
.main-text-orange {
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 32px;
  color: #ffb742;
}
.main-title {
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
}
.main-text {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}
.boy {
  margin: 30px 40px;
  text-align: center;
}
.main-box-2 {
  display: flex;
  justify-content: space-around;
}
.item-box {
  width: 300px;
  height: 80px;
  border: 2px solid #292e2b;
  background-color: #292b2b;
  border-radius: 10px;
  margin-top: 100px;
}
.info-badge {
  display: flex;
  text-align: left;
  color: #ffff;
  text-decoration: none;
  font-weight: 600px;
  font-size: 18px;
  margin-right: 20px;
}
.img {
  padding: 10px 10px;
}
.main-content {
  padding-left: 30px;
  padding-top: 12px;
}
.text {
  font-family: "Inter", sans-serif;
}
.text-yellow {
  color: #ffb742;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}
.text-white {
  color: #ffff;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.tick {
  position: relative;
}
.tick-svg {
  position: absolute;
  bottom: 10px;
  left: 155px;
}
.item-container:hover {
  background-color: #ffb742;
}
.information {
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-top: 125px;
}
.information > .img-man {
  width: 50%;
}
.information > .information-text {
  width: 30%;
}
.img-man > img {
  width: 100%;
}
.img-man {
  padding-right: 48px;
}
.information-text {
  display: inline-block;
  padding-right: 50px;
}
.information-btn {
  display: inline-block;
  text-align: center;
  width: 126px;
  height: 31px;
  border: 2px solid #ffffff14;
  background: #ffffff14;
  border-radius: 50px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 20px;
  color: #ffb742;
  padding-top: 6px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.information_text-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #ffff;
  font-size: 48px;
  margin-bottom: 10px;
  margin-left: 30px;
}
.information_text-subtitle {
  width: 610px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #d4d4d4;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 30px;
}
.main-skill {
  margin-top: 69px;
  display: flex;
}
.main-skill > .skill {
  width: 50%;
}
.main-skill > .icon-img {
  width: 30%;
}
.icon-img > .img {
  width: 100%;
}
.skill {
  margin-left: 50px;
}

.btn-skill {
  border: 2px solid #ffffff14;
  background: #ffffff14;
  width: 248px;
  height: 52px;
  border-radius: 30px;
  color: #ffb742;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 21px;
  padding: 10px 30px;
}

.skill-title {
  color: #ffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  width: 618px;
  height: 110px;
  margin-top: 20px;
}
.skill-subtitle {
  width: 585px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffff;
  width: 618px;
  padding-top: 15px;
}
.emblema {
  margin-left: 200px;
  margin-top: 88px;
}

.svg {
  padding: 5px 10px;
}
.btn3 {
  margin-top: 40px;
  border-radius: 50px;
  margin-left: -34px;
}
.work {
  text-align: center;
  padding-top: 30px;
}
.button-title {
  margin: 0 auto;
  border: 1px solid #ffffff14;
  background: #ffffff14;
  width: 150px;
  border-radius: 50px;
  color: #ffb742;
  font-family: "Poppins", serif;
  font-size: 20px;
  font-weight: 600;
}
.work-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #ffff;
  letter-spacing: 2px;
}
.navigation {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 330px;
  list-style: none;
}
.item-navigation {
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}
.item-navigation:hover {
  background-color: #ffb742;
  color: #212529;
}
.box-photo {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 130px;
  padding-bottom: 200px;
}
.container-one {
  padding-right: 25px;
}
.item-one {
  padding-bottom: 25px;
}

.container-two {
  padding-right: 27px;
}

.item-four {
  padding-top: 25px;
}
.item-six {
  padding-top: 25px;
}
.information-button {
  width: 178px;
  height: 37px;
  color: #ffb742;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 20px;
  background-color: #ffffff14;
  border-radius: 50px;
  padding-left: 23px;
  padding-top: 14px;
  letter-spacing: 1px;
  margin-left: 670px;
  margin-top: 8px;
}
.information-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 39px;
  color: #fff;
  padding-bottom: 40px;
  margin-left: 600px;
  margin-top: 8px;
}

.card-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
}
.card-item {
  width: 380px;
  height: 420px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  background: #ffffff;
}
.card-img {
  padding-top: 60px;
  padding-left: 14px;
  padding-bottom: 25px;
}
.card-text {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  width: 318px;
  padding-left: 18px;
}
.content {
  display: flex;
}

.text-card {
  padding-left: 30px;
  padding-top: 8px;
}
.card-photo {
  padding-top: 20px;
  padding-left: 22px;
}
.card-title {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.card-subtitle {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.footer {
  height: 500px;
  background-color: #1c1c1c;
  font-family: "Poppins", serif;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-top: 140px;
}
.footer_content-text {
  margin-top: 50px;
}
.footer_content-title {
  font-family: "Poppins", serif;
  color: #ffb742;
  font-weight: 700;
  font-size: 32px;
}
.footer_content-subtitle {
  width: 300px;
  font-family: "Work Sans", serif;
  font-weight: 600;
  font-size: 16px;
  color: #d4d4d4;
}

.footer_navigation-text-1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #f5fbf2;
  padding-right: 70px;
  padding-top: 90px;
}
.footer_navigation-one {
  list-style: none;
  padding-left: 1px;
}
.footer-nav {
  font-weight: 500;
  font-size: 18px;
  color: #7b7b7b;
  text-decoration: none;
}
.footer_navigation-two {
  flex-direction: column;
  list-style: none;
  padding-left: 1px;
}
.footer_navigation-text-2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #f5fbf2;
  padding-right: 70px;
  padding-top: 90px;
}
.footer_navigation-three {
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  padding-left: 1px;
  width: 349px;
}
.footer_navigation-text-3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #f5fbf2;
  padding-right: 70px;
  padding-top: 90px;
}

.nav-footer {
  font-weight: 500;
  font-size: 18px;
  color: #7b7b7b;
  text-decoration: none;
}
.nav-foot {
  font-weight: 500;
  font-size: 18px;
  color: #7b7b7b;
  text-decoration: none;
}
.footer-nav:hover {
  background-color: #ffb742;
}
.nav-footer:hover {
  background-color: #ffb742;
}
