body {
  margin: 0;
}
.header {
  max-width: 1500px;
  height: 56px;
  display: flex;
  justify-content: space-around;
}
.nav {
  display: flex;
  justify-content: space-around;
}
.nav-item {
  margin: 5px 20px;
  list-style: none;
  color: #212529;
}
.nav-link {
  text-decoration: none !important;
}
.carousel-control-prev {
  border-radius: 5px;
  margin-top: 22px;
  width: 130px;
  height: 35px;
  background-color: white;
  border: #212529;
}

/* slider */
.slide {
  margin: 20px 0px;
}

.img {
  height: 20%;
  width: 100%;
}
.d-block w-100 {
  max-height: 20vh;
}
/* main */
.main-content {
  display: flex;
}
.card {
  border: 1px solid #000000;
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
}
.card-img {
  max-width: 100%;
  max-height: 100%;
}
.card-text {
  padding: 20px;
  text-align: center;
}

.card-text h3 {
  padding: 25px;
  font-weight: 700;
  font-size: 20px;
  display: block;
  color: #212529;
}
.card-price {
  font-weight: 400;
  font-size: 16px;
  color: #212529;
  text-align: center;
  margin-bottom: 20px;
}
.button {
  border-radius: 5px;
  margin-top: 22px;
  width: 130px;
  height: 35px;
  background-color: white;
  border: #212529;
  margin-left: 90px;
}
