@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=M+PLUS+1p&family=Marcellus+SC&display=swap");
* {
  margin: 0;
  padding: 0;
}
.body {
  margin: auto;
  padding: auto;
  max-width: 1400px;
  min-width: 700px;
  font-family: "Inica", serif;
}
.main-title {
  text-align: center;
  font-family: "M Plus 1", sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 78px;
  letter-spacing: 0.1em;
  margin-top: 15px;
  text-transform: uppercase;
}
.title-blue {
  color: #3e45e8;
}
.title-yellow {
  color: #e8c23e;
}
.title-img-container {
  background-image: url(..//img/fon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  min-height: 400px;
  max-height: 765px;
}
.title-prapor {
  position: relative;
  width: 3%;
  height: 26%;
  left: 5%;
  top: 25%;
}

.title-prapor-wh {
  width: 100%;
  height: 50%;
}
.title-prapor-wh {
  display: inline-block;
  width: 50%;
  height: 100%;
}
.prapor-color-blue {
  background: linear-gradient(180deg, #00e0ff 15%, #1400ff 100%);
}
.prapor-color-yellow {
  background: linear-gradient(180deg, #ffa800 15%, #fff500 100%);
}
.title-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35%;
  width: calc(100% - 155px);
  color: #fff;
  text-transform: uppercase;
  font-size: 2.1em;
  letter-spacing: 2px;
  font-weight: 500;
  position: relative;
  left: 10%;
  top: 40px;
}
.sub-title {
  margin-top: 50px;
  margin-bottom: 15px;
  width: calc(100% - 85px);
  text-transform: uppercase;
  font-size: 37px;
  letter-spacing: 3px;
  position: relative;
  text-align: left;
}
.prapor-two {
  width: 73%;
  height: 12px;
  font-size: 0;
  position: relative;
  padding-bottom: 25px;
}

.prapor-wh {
  width: 100%;
  height: 50%;
}

.prapor-wh {
  display: inline-block;
  width: 50%;
  height: 100%;
}

.flag-blue {
  background: linear-gradient(180deg, #00e0ff 15%, #1400ff 100%);
}

.flag-yellow {
  background: linear-gradient(180deg, #ffa800 15%, #fff500 100%);
}

.card-item {
  width: 260px;
  height: 320px;
  border: 5px solid #0d095f;
  border-radius: 30px;
  box-shadow: 0px 21px 35px rgba(0, 209, 255, 0.35);
}
.card-item > a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #ff9900;
}
.card-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.card-box {
  width: 100%;
  height: 65%;
  border-radius: 25px 25px 10px 10px;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-size: cover;
  background-position: center;
}
.card1 {
  background-image: url(..//img/tustan.png);
}

.card-item:hover > a > .card1 {
  background-image: url(..//img/tustan.png);
}

.card2 {
  background-image: url(..//img/lutsk.png);
}

.card-item:hover > a > .card2 {
  background-image: url(..//img/lutsk.png);
}

.card3 {
  background-image: url(..//img/cam.png);
}

.card-item:hover > a > .card3 {
  background-image: url(..//img/cam.png);
}
.card-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #0072db;
}

.card-text {
  width: 80%;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;
}
.-container {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.sub-title {
  text-align: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.blue {
  background-color: #1400ff;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 7px;
  width: 42%;
  margin-bottom: 43px;
  left: -2%;
}
.button {
  width: 300px;
  height: 50px;
  background-color: #2a61f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  font-size: 37px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}
.footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: linear-gradient(180deg, #013235 0%, #0d0661 100%);
  padding-bottom: 25px;
}
.footer-link {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 31px;
  text-transform: uppercase;
  font-family: "Marcellus SC";
  padding-top: 6px;
  color: #a89d9d;
}
.social-link {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: flex;
  width: 25%;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 17px;
}
.social-links > li {
  display: inline-block;
}

.social {
  fill: #d30c0c;
  width: 32px;
  height: 31px;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
}
