.header {
  text-align: center;
}
.str {
  font-family: M PLUS 1;
  font-size: 48px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 3px;
  color: #3e45e8;
}
.ukr {
  font-family: Marcellus;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 3px;
  color: #e8c23e;
}
.images {
  background-image: url(./img/fon.png);
  width: 100%;
  height: 760px;
}
.text {
  font-family: Inika;
  width: 700px;
  color: #ffffff;
  size: 48px;
  line-height: 75.5px;
}

.card-1 {
  text-align: left;
  border: 5px solid #0d095f;
  background-color: #ffffff;
  height: 481px;
  width: 391px;
  border-radius: 30px;
  padding: 5px;
}

.card-2 {
  border: 5px solid #0d095f;
  background-color: #ffffff;
  height: 481px;
  width: 391px;
  border-radius: 30px;
  padding: 5px;
}
.title {
  border-color: #0072db;
  background-color: #ffffff;
  margin-top: 20px;
  font-family: Inika;
  font-size: 24px;
  color: #0072db;
}

.sub {
  font-size: 20px;
  color: #ff9900;
}
.card-3 {
  border: 5px solid #0d095f;
  background-color: #ffffff;
  height: 481px;
  width: 391px;
  border-radius: 30px;
  padding: 5px;
}
